@import "tailwindcss";

@theme {
  --font-chirp: "Chirp", "Helvetica Neue", Arial, sans-serif;
  --color-primary: #1d9bf0;
  --color-hoverLi: #181818;
  --color-hoverbtn: #d7dbdc;
  --color-disabled: #71767b;
  --color-borderColor: rgb(47, 51, 54);
  --color-mainHover: #181818;
  --color-mainIconsHover: #031018;
  --color-postIconsHover: #0a171f;
  --color-sharesHover: #071a14;
  --color-sharesText: #00b377;
  --color-likesHover: #3a0b21;
  --color-likesText: #c01464;
  --color-hoverButton: #1a8cd8;
  --color-footer: #5a5e62;
  /* breakpoints */
  --breakpoint-vsm: 450px;
  --breakpoint-xxs: 365px;
}

@layer components {
  .side-items {
    @apply w-max flex gap-5 items-center justify-start pl-2.5 pr-3 pb-3 pt-3 rounded-[9999px] hover:bg-hoverLi cursor-pointer;
  }
  .side-items-text {
    @apply text-white font-normal text-xl;
  }
  .side-bar-svg {
    @apply h-[27px] w-[27px] fill-white;
  }
  .button-transitions {
    @apply transition hover:ease-in-out duration-100;
  }
  .main-createPost-svg {
    @apply h-5 w-5 fill-primary;
  }
  .main-createPost-items {
    @apply flex items-center p-0 vsm:p-2 rounded-full w-8 h-8 cursor-pointer vsm:w-10 vsm:h-10;
  }
  .main-createPostItems-hover {
    @apply hover:bg-mainIconsHover;
  }
  .post-svg {
    @apply h-5 w-5 fill-disabled;
  }
  .post-svg-box:hover .post-svg {
    @apply fill-primary;
  }
  .post-svg-box {
    @apply cursor-pointer p-1 rounded-full hover:bg-mainIconsHover;
  }
  .post-footer-icons {
    @apply h-5 w-5 fill-disabled;
  }
  .post-footer-iconsBox {
    @apply flex cursor-pointer items-center;
  }
}
@layer utilities {
  @layer utilities {
    .hide-track::-webkit-scrollbar {
      width: 14px;
    }

    .hide-track::-webkit-scrollbar-track {
      background: #16181c;
    }

    .hide-track::-webkit-scrollbar-thumb {
      background-color: #3e4144;
      border-radius: 9999px;
      border: 2px solid transparent;
      background-clip: content-box;
    }
    .hide-track::-webkit-scrollbar-thumb:hover {
      background-color: #8e9091;
    }
    .hide-track {
      scrollbar-width: 16px;
      scrollbar-color: rgba(255, 255, 255, 0.6) transparent;
    }
    .hide-scrollbar::-webkit-scrollbar {
      display: none;
    }
  }
}

@font-face {
  font-family: "Chirp";
  src: url("/src/assets/fonts/Chirp-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Chirp";
  src: url("/src/assets/fonts/Chirp-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Chirp";
  src: url("/src/assets/fonts/Chirp-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
